* {
  padding: 0;
  margin: 0;
}

body {
  background-color: tomato;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

.timer-container {
  display: flex;
  font-size: 50px;
  color: aliceblue;
  flex-direction: column;
  align-items: center;
}

#start-button {
  height: 55px;
  width: 130px;
  font-size: 28px;
  color: black;
  border-radius: 25px;
  border: 1px solid white;
  background-color: white;
  letter-spacing: 2.5px;
}

#start-button:hover,
.icon-button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.icon-button {
  background-color: transparent;
  border-color: transparent;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px;
}


.input-wrapper {
  height: 40px;
  width: 25%;
  border-radius: 5px;
  background-color: transparent;
  color: aqua;
  border: 2px solid hsl(93, 62%, 95%);
  padding-left: 10px;
  background-color: white;
}

.input-wrapper input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}

.settings-modal h2 {
  font-size: 40px;
  justify-self: start;
}

.settings-modal button {
  height: 30px;
  width: 80px;
  font-size: 20px;
  color: black;
  border-radius: 25px;
  border: 1px solid white;
  background-color: white;
  letter-spacing: 1.2px;
}

#close-button {
  background-color: #799351;
  color: white;
}

.settings-modal button:hover,
#close-button:hover {
  cursor: pointer;
  color: white;
  background-color: transparent;
}

.settings-modal {
  background-color: #A1DD70;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  height: 200px;
  width: 250px;
  position: absolute;
  flex-direction: column;
  color: white;
  transform: translateY(-120%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


.show {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}